
/* Styling color variables */
:root {
    --background: #1c1c1e;
    --primary: #f0f0f0;
    --secondary: #7ba2cc;
    --tertiary: #989899;
    --quarternary: #5a5a5e;
  }

/* Styling applied to all elements */
*{
    background-color: var(--background);
    color: var(--primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-tap-highlight-color: transparent;

}

/* Styling applied to html page (smooth scrolling) */
html {
    scroll-behavior: smooth;
}

/* Styling for all visible elements for dimensions and no horizontal scrolling */
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

/* Colors all paragraph text white */
p{
    color: var(--primary);
}

/* Button links with disabled underlined text */
a:link{
    text-decoration: none;
}

/* Creates blue accent lines for all <hr> elements */
hr {
    background-color: var(--secondary);
    margin: 0;
    height: 5px;
    border: none;
    position: relative;

  }

/* Colors all emphasized text with blue. */
span {
    color: var(--secondary);
}

/* Parent header for landing page with size of viewport */
header {
    height: 100vh;
    padding-left: 15vw;
    padding-right: 15vw;
    min-height: 670px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;

}

/* Container for content in the header w/ inherited styling. Sets default width.*/
header .content-container {
    width: 70vw;
}

header .name {
    font-size: 60px;
    letter-spacing: 1px;
}

header .bio {
    font-size: 2rem;
    line-height: 40px;
    font-weight: 400;
    min-height: 75px;
}

header .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: left; 
    gap: 20px;
}

header button {
    display: flex;
    outline: 2px solid var(--secondary);
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 1.25rem;
    font-weight: 400;
    transition: 0.3s;
}

header button:hover {
    cursor: pointer;
    background-color: var(--quarternary);
}

/* Styling for Union Square parallax image */
.parallax{
    width: 100vw;
    background-image: url("assets/unionsquare.jpeg");
    height: 350px;
    background-attachment: fixed;
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Default styling for all section elements */
section {
    /* padding: 0 15vw 0; */
    margin-top: 30px;
}

/* Default styling for all section h1s */
section h1 {
    color: var(--primary);
    font-size: 2.5rem;
}


.about-me-container {
    display: flex;
    padding: 0 5vw 0;
    gap: 5vw;
}

/* Font size for text */
.about-me-text-container {
    font-weight: 200;
    font-size: 1.5rem;
}

/* Alignment for image of Bryan on the left */
.about-me-img-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Sizing for image of Bryan on the left + object-fit */
.about-me-img-container img {
    width: 25vw;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 709px){

    /* Adjusting minimum height for landing page */
    header {
        min-height: 885px;
    }

    /* Adjusting typing boundaries for landing page */
    header .bio {
        max-width: 100%;
        min-height: 200px;
        max-height: 300px;
        overflow: scroll;
        text-overflow: ellipsis;
    }

    /* Change nav-bar to column style */
    header .nav-bar {
        flex-direction: column;
    }

    /* Adjust width of nav buttons */
    header button {
        display: inline;
        width: 70vw;
    }

    /* Display text, then image of Bryan */
    .about-me-container {
        flex-direction: column-reverse;
    }

    /* Resize image to fit screen */
    .about-me-img-container img {
        width: 70vw;
    }

    
}


/* .image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;

    transform: translate(0%, 0%);

}

.image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    user-select: none;
} */ 