:root {
  --background: #1c1c1e;
  --background-darker: #121212;
  --primary: #f0f0f0;
  --secondary: #7ba2cc;
  --tertiary: #989899;
  --quarternary: #5a5a5e;

  --border-color: #302c2c;
}

/* Styling applied to all elements */
* {
  color: var(--primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Styling applied to html page (smooth scrolling) */
html {
  scroll-behavior: smooth;
}

/* Styling for all visible elements for dimensions and no horizontal scrolling */
body {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

/* Colors all paragraph text white */
p {
  color: var(--primary);
}

/* Button links with disabled underlined text */
a:link {
  text-decoration: none;
}

/* Creates blue accent lines for all <hr> elements */
hr {
  background-image: linear-gradient(120deg, #88b6ff 0%, #c5e8f8 100%);
  margin: 0;
  height: 5px;
  border: none;
  position: relative;
}

/* Colors all emphasized text with blue. */
span:not(.c) {
  background-image: linear-gradient(120deg, #88b6ff 0%, #c5e8f8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

span.skill {
  font-weight: 600;
}

span.c {
  opacity: 1;
  transition: 0.2s;
}

span.c:hover {
  font-weight: 900;
}

/* Parent header for landing page with size of viewport */
header {
  height: 100vh;
  padding-left: 15vw;
  padding-right: 15vw;
  min-height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container for content in the header w/ inherited styling. Sets default width.*/
header .content-container {
  width: 70vw;
}

header .name {
  /* font-size: 3.75rem; */
  font-size: clamp(3.25rem, 8vw, 3.75rem);
  letter-spacing: 1px;
}

header .bio {
  font-size: 2rem;
  line-height: 40px;
  font-weight: 400;
  min-height: 75px;
}

header .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
}

header button {
  background-color: var(--background);
  display: flex;
  border: 3px solid var(--secondary);
  border-radius: 5px;
  outline: none;
  padding: 15px 25px;
  font-size: 1.25rem;
  font-weight: 400;
  transition: 0.3s;
}

header button:hover {
  cursor: pointer;
  background-color: var(--quarternary);
  transform: scale(1.2);
}

/* Styling for Union Square parallax image */
.parallax {
  width: 100vw;
  height: 50vh;
  background-image: url("assets/unionsquare.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Default styling for all section elements */
section {
  /* padding: 0 15vw 0; */
  margin-top: 30px;
}

/* Default styling for all section h1s */
section h1 {
  color: var(--primary);
  font-size: 2.5rem;
}

.about-me-section {
  padding: 0 5vw 5vh;
}

.about-me-container {
  display: flex;
  gap: 5vw;
}

/* Font size for text */
.about-me-text-container {
  font-weight: 300;
  font-size: 1.5rem;
}

/* Alignment for image of Bryan on the left */
.about-me-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sizing for image of Bryan on the left + object-fit */
.about-me-img-container img {
  width: 25vw;
  height: 100%;
  object-fit: scale-down;
  /* aspect-ratio: 5 / 7; */
}

.skills-section {
  padding: 0 5vw 5vh;
  gap: 5vw;
  display: flex;
  flex-direction: row;
}

.projects-container {
  width: 60%;
}

.skills-container {
  width: 40%;
}

.skills {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.skills li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

footer {
  background-color: var(--background-darker);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 14vh;
}

footer p {
  background-color: var(--background-darker);
  color: var(--quarternary);
  text-align: center;
}

.timeline-wrapper {
  width: 100vw;
}

.timeline-wrapper .timeline {
  position: sticky;
  top: 25vh;
  bottom: 0;
  height: 100vh;
  width: 0;
  margin-left: 15vw;
  border: 3px var(--secondary) solid;
  border-radius: 3px;
  outline: none;
  z-index: -1;
}

.timeline-wrapper .timeline-dog {
  position: sticky;
  top: 40vh;
  width: 8vw;
  margin-left: 7.1vw;
  /* animation-play-state: paused; */
}

ul {
  margin-left: 15vw;
  overflow-x: hidden;
}

li {
  color: var(--primary);
  list-style: none;
  padding: 0;
  margin-bottom: 50vh;
  display: flex;
  flex-direction: column;
  padding-right: 5vw;
}

li .project-title {
  margin-bottom: 10px;
  font-size: 3rem;
}

li .logo-container {
  display: flex;
  flex-direction: row;
  gap: 2vmin;
  align-items: center;
}

li .py-logo {
  background-image: url("assets/python-logo.png");
  width: 30px;
  height: 30px;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

li .java-logo {
  background-image: url("assets/java-logo.png");
  width: 30px;
  height: 30px;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

li .project-subtitle {
  color: var(--tertiary);
  font-size: 1rem;
  font-style: italic;
}

li .desc-container {
  display: flex;
  flex-direction: column;
}

li .desc-container > p {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 0;
}

li .img-container {
  display: flex;
  justify-content: center;
}

li .img-container img {
  margin-top: 30px;
  max-height: 35vh;
  object-fit: scale-down;
  border: 3px var(--primary) solid;
  overflow-x: scroll;
  transition: 0.2s;
}

li .img-container img:hover {
  transform: scale(1.2);
}

li .first-line,
li p.center {
  color: var(--primary);
  text-align: center;
  font-size: 2rem;
}

.hidden {
  opacity: 0;
  transition: all 1.25s;
}

.show {
  opacity: 1;
}

.card-hidden {
  opacity: 1;
  transition: all 1.25s;
}

.card-show {
  opacity: 0;
}

@media screen and (max-width: 709px) {
  /* Adjusting minimum height for landing page */
  header {
    min-height: 885px;
  }

  /* Adjusting typing boundaries for landing page */
  header .bio {
    max-width: 100%;
    min-height: 200px;
    max-height: 300px;
    text-overflow: ellipsis;
  }

  /* Change nav-bar to column style */
  header .nav-bar {
    flex-direction: column;
  }

  /* Adjust width of nav buttons */
  header button {
    display: inline;
    width: 70vw;
  }

  /* Display text, then image of Bryan */
  .about-me-container {
    flex-direction: column-reverse;
  }

  /* Resize image to fit screen */
  .about-me-img-container img {
    width: 70vw;
  }

  .skills-section {
    flex-direction: column;
  }

  .projects-container {
    width: 100%;
  }

  .skills-container {
    width: 100%;
  }

  .parallax {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* For github repositories */

.repository-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 500px;
  overflow: auto;

}

.repository-list svg {
  position: fixed;
  display: none;
}

.repository-list a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

.repository-list h4 {
  margin: 20px 0px 0px 0px;

  background-image: linear-gradient(120deg, #88b6ff 0%, #c5e8f8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-size: 1.3rem;
  font-weight: 600;
}

.card {
  /* border: 2px solid var(--border-color); */
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.474) 0px 5px 15px;
  border-radius: 15px;
  outline: none;
  padding: 20px;
  padding-top: 5px;
}

.card div {
  margin: 5px;
}

.card p {
  color: white;
}

.controls {
  display: flex;
}

.horizontalspace {
  flex-grow: 1;
}

.stats {
  display: inline-flex;
  align-items: center;
}

.buttons * {
  margin-left: 5px;
}

.stats *:not(svg) {
  margin-right: 5px;
}

.repository-list ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}
